@using System.Web.Optimization
<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/bundles/css")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/html5shim")
    <![endif]-->
  </head>
  <body>
      <h1>Hello, world!</h1>
      
      @RenderBody()

      @Scripts.Render("~/bundles/js-header")
  </body>
</html>